# dependances
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# natif
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# systeme
.DS_Store
*.pem

# variables d'environnement et secrets
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# dossiers natifs generes
/ios
/android

# sortie temporaire des tests
.test-tmp/
